body {
    background-image: url(../imagen/background.jpg);
}

#Encabezado {
    size: 100% 100%;
    /* background-image: url(../imagen/fondo-afa.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    /*height: 65rem;*/
    background-position: center center;
}

#nombreLogo {
    width: 40%;
    margin-left: 0%;
    position: static;
    z-index: 2;
}

#estrellaLogo {
    width: 40%;
    position: absolute;
    z-index: 1;
}

.barraNavegacion {
    height: 30vh;
    background: repeating-linear-gradient( 0deg, lightblue 0%, lightblue 40%, white 0, white 60%, lightblue 0, lightblue);
    position: relative;
    background-color: white;
    border: darkgray solid 2px;
    border-radius: 5px;
    top: 0;
}

.botonesBarraNavegacion {
    display: block;
    float: right;
    padding: 0.5rem 1rem;
    color: rgb(10, 9, 9);
    text-decoration: none;
    border-right: darkgray solid 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s;
}

.botonesBarraNavegacion:hover {
    background-color: darkblue;
    color: white;
    transform: scale(1.1);
    transition: all 0.5s;
}

.ultimoBoton {
    border-right: none;
}

.colorFondoDropdownBoton {
    background-color: black;
}

.colorLetraLinksDropdown {
    color: #f2f2f2;
}

.contenedorDestacados {
    position: static;
    top: 400px;
}

.seccionDestacados {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
    position: static;
    top: 300px;
}

.calesita {
    width: 80%;
    margin: auto;
}

#flechaAnterior {
    opacity: 1;
    margin-left: -150px;
}

#flechaSiguiente {
    opacity: 1;
    margin-right: -150px;
}

.iconoFlecha {
    height: 90px;
    width: 80px;
}

.barraFooter {
    flex-grow: 0;
    margin-right: 10px;
    position: static;
}

.textoBarraFooter {
    margin-left: 380px;
}

.botonesBarraFooter {
    padding: 15px;
    transition: all 0.5s;
}

.card {
    transition: all 0.5s;
    /*para que la animacion se haga en medio segundo*/
}

.card:hover {
    transition: all 0.5s;
    transform: scale(1.05) !important;
    cursor: pointer;
}

.listaNav {
    display: flex;
    list-style: none;
    margin: 0;
}

#thumbnailsContainer {
    display: flex;
    flex-wrap: wrap;
}

#thumbnailsContainer .img {
    height: 10rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
}